:root {
    --Accent: #34547A;
    --Silver: #EEEFF1;
    --Gray: #727272;
    --White: #FFFFFF;
    --Black: #000;
    --Semi-White: #FCFDFD;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    color: var(--Black);
}

img,
video {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}


.text-h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 164.063%;
    /* 78.75px */
}

.text-h2 {
    font-size: 32px;
    font-weight: 500;
}

.text-h3 {
    font-size: 21px;
    font-weight: 500;
}

.text-p {
    color: var(--Gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    /* 26.25px */
}

.btn {
    padding: 23px 40px 16px;
    background-color: var(--Accent);
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    /* 26.25px */
    letter-spacing: 1.6px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    opacity: .8;
}

.home {
    background-color: var(--Silver);
}

.header {
    padding: 64px 0;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 42px;
    margin-right: 10px;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.063%;
    /* 26.25px */
    letter-spacing: 1.6px;
    transition: 0.2s ease;
}

.menu__link:hover {
    color: var(--Accent);
}

.home__banner {
    padding: 73px 0px 162px 76px;
}

.home__banner>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}

.home__banner-img {
    margin: 0 0 10px 6px;
}

.home__banner-text {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    /* gap: 34px; */
    align-items: flex-start
}

.home-h1 {
    margin-bottom: 34px;
}

.home-p {
    margin-bottom: 51px;
}

.burger-btn {
    display: none;
}

@media screen and (max-width: 1280px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 920px) {
    .home__banner>.container {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    .home__banner {
        padding: 10px;
    }

    .burger-btn {
        display: flex;
        padding: 10px;
    }

    .menu__list {
        display: none;
    }
}

.about {
    padding: 100px 0 92px 0;
}

.about-h2 {
    text-align: center;
}

.about-p {
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    margin-top: 42px;
    text-indent: 30px;
}

.numbers {
    background: var(--Accent, #34547A);
    padding: 95px 0;
}

.numbers__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: start;
    gap: 30px;
}

.numbers__item {
    display: flex;
}

.numbers__item-text {
    margin-left: 20px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
}

.numbers__item-number {
    color: var(--White);
}

.numbers__item-name {
    color: #FFF;
}

@media screen and (max-width: 1280px) {
    .numbers__grid {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 920px) {}

@media screen and (max-width: 768px) {
    .numbers__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 480px) {}

/* skills */
.skills {
    padding: 100px 0;
}

.skills>.container {
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.skill__block {
    width: 30%;
    margin-top: 50px;
}

.skills-h2 {
    margin-bottom: 38px;
}

.skill__item {
    margin-bottom: 32px;
}

@media screen and (max-width: 1280px) {
    .skills>.container {
        max-width: 1110px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (max-width: 920px) {
    .skills>.container {
        flex-direction: column-reverse;
    }

    .skill__block {
        width: 70%;
    }

}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}

/* progress bar */

.progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #c4c4c4;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}

.progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--Accent);
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
}


/* Video */

.video {
    background: var(--Silver, #EEEFF1);
    padding: 100px 0 122px 0;
}

.video-text {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}

.video-h2 {
    margin-bottom: 43px;
}

.video-p {
    text-indent: 30px;
    margin-bottom: 50px;
}

.video__multimedia {
    position: relative;

    cursor: pointer;
}

.play-button {
    position: absolute;
    inset: 0;
    margin: auto;
}



/* Modal */
/* .modal__bg {
    position: fixed;
    inset: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.315);
} */
/* 
.modal {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 5%;
    background-color: white;
    border-radius: 15px;
}

.modal__header {
    padding: 30px 0 15px;
}

.modal__body {
    padding: 30px;
    width: 100%;
    text-align: center;
}

.modal__footer {
    padding: 15px;
}

.modal__footer {
    text-align: right;
}

.modal-btn {
    margin-left: auto;
} */

/* Gallery */
.projects {
    max-width: 1920px;
    background-color: var(--Silver);
    margin: 0 auto;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

.projects__item {
    position: relative;
    cursor: pointer;
}

.filter-bg {
    background: #34547ACC;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.5s ease;
}

.filter-bg:hover {
    opacity: 1;
}

.filter-icon {
    position: absolute;
    background-image: url(../img/view.svg);
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s ease;
}

@media screen and (max-width: 1280px) {
    .projects__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects__item {
        width: 300px;
    }

    .projects {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 920px) {
    .projects__item {
        width: 250px;
    }

}


.clients {
    padding: 74px 0 100px;
    margin: 0 auto;
}

.clients__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
}

.client__item{
    /* width: 100%; */
}

@media screen and (max-width: 768px) {
    .clients__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .client__item{
        width: 30%;
    }
}


.form {
    background: var(--Silver);
    padding: 100px 0;
}

.form-text {
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
}

.form-p {
    margin: 38px 0 55px;
    text-indent: 30px;
}

.form__input {
    background: #FFF;
    border: none;
    padding: 14px 18px;
    color: #5F5D5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 164.063%;
    /* 22.969px */
}

input.form__input:focus,
textarea:focus {
    outline: none;
}

.form__application {
    margin: 0 auto;
    text-align: center;
    max-width: 540px;
    width: 100%;
}

.form__top {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.form__top input {
    width: 100%;
    max-width: 255px;
}

.form__bottom textarea {
    width: 100%;
    height: 100%;
    margin-bottom: 46px;
    max-width: 540px;
    color: #5F5D5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 164.063%;
    font-family: 'Roboto';
}

.from-btn {
    padding: 15px 39px 14px;
    text-align: center;
}

/* Footer */

.footer {
    background: var(--Accent, #34547A);
    padding: 50px 0;
}

.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-h3 {
    color: var(--White);
    margin-bottom: 10px;
}

.footer-p {
    color: var(--White);
    font-size: 13px;
    font-weight: 400;
    line-height: 164.063%;
    /* 21.328px */
}

.footer__right {
    display: flex;
    gap: 21px;
}

@media screen and (max-width: 480px) {
    .footer__right {
        flex-wrap: wrap;
        justify-content: center;
    }
}